.crystal-image {
     width: 80px;
     height: 80px;
   }

div#game-title{
	background-color: #d26533;
	width: 350px;
}

div#paragraph{
	background-color: #f8f2cf;
	width: 500px;
	height: 400px;
	color: #a0d233;
	font-size: 17px;
}

p{
	margin-left: 20px;
	margin-right: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: justify;
	color:#44d7a8;
}
div#random-number{
	background-color: #1e7e6c;
	height: 80px;
	text-align: center;
	padding-top: 3px;
	margin-top: 6px;
	color: #650d4a;
}
div#totals{
	background-color: #00ffff;
	margin-top: 6px;
	font-size: 17px;
}
div#total-score{
	color: #ffffff;
	background-color: #33cccc;
	font-size: 15px;
	width: 250px;
}
div#score{
	background-color: #33cccc;
	height: 100px;
	width: 250px;
	color: #ffffff;
}
body{
	width: 600px;
	margin:0 auto;
	background-image: url("../images/restaurant.png");
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:22px;
	color: #4aaaa5;
	border-bottom: 2px solid;
	border-color: #cccccc;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 2px;

}
h2{
	color: #ffffff;
	font-size: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	z-index: 2;
}

img{
	float: left;
	margin-right: 8px;
	border:2px solid #777777;
	margin-left: 8px;
	margin-bottom: 6px;
}

@media screen and (max-width: 980px){
	body{
	width: 600px;
	margin:0 auto;
		}
	
	
}
@media screen and (max-width: 768px){
	body{
	width: 500px;
	margin:0 auto;
		}

	}
@media screen and (max-width: 640px){
	body{
	width: 400px;
	margin:0 auto;
		}

}

