.crystal-image {
     width: 80px;
     height: 80px;
   }

div#game-title{
	background-color: #d26533;
	width: 350px;
}

div#paragraph{
	background-color: #f8f2cf;
	width: 500px;
	height: 400px;
	color: #a0d233;
	font-size: 17px;
}

p{
	margin-left: 20px;
	margin-right: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: justify;
	color:#44d7a8;
}
div#random-number{
	background-color: #1e7e6c;
	height: 80px;
	text-align: center;
	padding-top: 3px;
	margin-top: 6px;
	color: #650d4a;
}
div#totals{
	background-color: #00ffff;
	margin-top: 6px;
	font-size: 17px;
}
div#total-score{
	color: #ffffff;
	background-color: #33cccc;
	font-size: 15px;
	width: 250px;
}
div#score{
	background-color: #33cccc;
	height: 100px;
	width: 250px;
	color: #ffffff;
}
body{
	width: 600px;
	margin:0 auto;
	background-image: url("../images/restaurant.png");
}
.mainheader{
	background-color: #ffffff;
	height: 50px;

	margin-bottom: 20px;
	border-bottom: 4px solid;
	border-color: #cccccc;
}

.header{
	float: left;
	color:white;
	background-color: #4aaaa5;
	width:200px;
	text-align: center;


}

.nav{
	float:right;
	margin-top:10px;
	margin-right: 200px;
	margin-left: 150px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
}
.container{
	
	float: left;
	width:650px;
	height: 410px;
	background-color: white;

}

div#sidebar{
	float:right;
	position: absolute;
	width:270px;
	background-color: white;
	margin-left: 670px;
	height: 140px;
}

.footer{
	overflow: auto;
	background-color: #666666;
	margin-top:430px;
	height: 50px;
	border-top:8px solid;
	border-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
	font-size: 11px;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:22px;
	color: #4aaaa5;
	border-bottom: 2px solid;
	border-color: #cccccc;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 2px;

}
h2{
	color: #ffffff;
	font-size: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	z-index: 2;
}


img{
	float: left;
	margin-right: 8px;
	border:2px solid #777777;
	margin-left: 8px;
	margin-bottom: 6px;
	
	
}

a.active{
	color: #777777;
}

a.focus{
	color:gray;
}

a.hover{
	color:black;
}

form{
	color:#777777;
	margin-left: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:15px;
}

input[type=submit]{
	background-color: #4aaaa5;
	color:#ffffff;
	font-size: 15px;
	padding:5px 15px;
}
@media screen and (max-width: 980px){
	body{
	width: 700px;
	margin:0 auto;
		}
	.container{
	float: left;
	width:350px;
	height: 700px;
		}
	div#sidebar{
	width:230px;
	margin-left: 390px;
		}
	.nav{
	font-size: 13px;
		}
	.footer{
	margin-top:720px;
		}
	input[type=text]{
	width:325px;
	height: 30px;
	margin: 0 0 10px 0;
		}
	textarea{
	width:325px;
		}
	
}
@media screen and (max-width: 768px){
	body{
	width: 700px;
	margin:0 auto;
		}
	.container{
	float:left;
	width:700px;
	height: 420px;
		}
	div#sidebar{
	float: left;
	position:relative;
	width:700px;
	margin-left: 0px;
	margin-top: 10px;
		}
	.footer{
	margin-top:720px;
		}
	input[type=text]{
	width:625px;
	height: 30px;
	margin: 0 0 10px 0;
		}
	textarea{
	width:625px;
	height: 100px;
		}
	
	
	}
@media screen and (max-width: 640px){
	body{
	width: 600px;
	margin:0 auto;
		}
	.container{
	float:left;
	width:600px;
	height: 730px;
		}
	div#sidebar{
	float: left;
	position:relative;
	width:600px;
	margin-left: 0px;
	margin-top: 10px;
		}
	.footer{
	margin-top:1020px;
		}
	input[type=text]{
	width:625px;
	height: 30px;
	margin: 0 0 10px 0;
		}
	textarea{
	width:625px;
	height: 100px;
		}
	.header{
	position: static;
	<!--float: left;-->
	color:white;
	background-color: #4aaaa5;
	width:600px;
	text-align: center;
		}
	.nav{
	float:left;
	background-color: white;
	margin-top:1px;
	width: 600px;
	height: 50px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 28px;
	text-align: center;	
	font-size: 20px;
	padding-top: 30px;
		}
	img#me{
	height:350px;
	width: 400px;
	float: none;
	margin-left: 70px;
	margin-right:70px;
	position: static;
	margin-bottom: 20px;
	overflow: auto;
	text-align: left;
		}
}

